
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="75">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form *ngIf="formGroup" [formGroup]="formGroup" fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="loginProcess()" >
      <mat-form-field >
        <mat-label>Email Id</mat-label>
        <input matInput placeholder="Email ID" formControlName="email">
      </mat-form-field>

      <mat-form-field >
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </form>
  </mat-card>
</div>
